$ruby:                      #e21313;

$color:                     #31271c;
$color-accent:              #6d727d;
$white:                     #fff;
$black:                     #121b2e;

$accent:                    #ff6060;

$nav-link-color:            #bb6c23;
$nav-link-color-hover:      #e21313;
$nav-link-size:             13px;


// Fonts
// .type--headline = memoriam-headline-pro
// .baskerville = baskerville