$ruby:                      #e21313;

$color:                     #555;
$white:                     #fff;
$nav-link-color:            #bb6c23;
$nav-link-color-hover:      #e21313;
$nav-link-size:             13px;


// Fonts
