<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reacting</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://use.typekit.net/bgq2pak.css">
</head>
<body>
<!--<section class="panel-1">
    <header class="navbar text-center text-uppercase justify-content-center m-3 p-3 position-absolute">
        <div class="header-img navbar-background text-center">
            <img src="../img/header-img.png" width="500px" class="">
        </div>
        <ul class="nav tk-baskerville-urw">
            <li class="nav-item">
                <a class="nav-link active" href="#">Link 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Link 2</a>
            </li>
        </ul>
        <span class="text-center navbar-brand type--headline ml-4 mr-4">
            R
        </span>
        <ul class="nav tk-baskerville-urw">
            <li class="nav-item">
                <a class="nav-link active" href="#">Link 3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Link 4</a>
            </li>
        </ul>
    </header>

    <div class="">
        IMG
    </div>


</section>-->