<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reacting</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://use.typekit.net/bgq2pak.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="logo type--headline">
        <img src="../img/flower.png">
        <span>Lubeka</span>
    </div>
    <nav class="main--navigation--container">
        <ul class="main--navigation" id="menu">
            <li data-menuanchor="one">
                <a href="#one" class="nav--item">
                    Who.
                    <span class="nav--desc baskerville">about rebecca.</span>
                </a>
            </li>
            <li data-menuanchor="two">
                <a href="#two" class="nav--item">
                    What.
                    <span class="nav--desc baskerville">projects.</span>
                </a>
            </li>
            <li data-menuanchor="three">
                <a href="#three" class="nav--item">
                    How.
                    <span class="nav--desc baskerville">skills & contact.</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="social">
        <ul class="social--container">
            <li class="social--item">
                <a href="#" class="baskerville btn italic">resume & digital portfolio</a>
            </li>
        </ul>
    </div>
</header>

<div class="mail--button btn">
    <a href="#"><i class="fas fa-envelope"></i></a>
</div>

<div id="fullpage">
    <div class="panel section" id="about">
        <div class="panel--container">
            <div class="panel--primary">
                <div class="panel--primary--container --center">
                    <div class="panel--title ">
                        <h3 class="panel--subtitle baskerville">who.</h3>
                        <h1 class="baskerville">
                            Visual Design
                            <span class="subtext">
                                <span class="and">&</span>
                                Front End Development
                            </span>
                        </h1>
                    </div>
                    <p class="baskerville panel--desc">
                        I am Rebecca and I am a visual designer and web developer with 4 years experience and a passion for all things visual. Responsibilities in previous roles included delivering a range of web applications, user journeys, managing client communications and establishing product vision.
                    </p>
                    <a href="#three" class="btn baskerville">view projects</a>
                </div>
            </div>

            <div class="panel--secondary --center">
                <div class="feature--image">
                    <img src="../img/mac.png">
                </div>
            </div>
        </div>
    </div>

    <div class="panel section --full-width" id="work">
        <div class="panel--container">
            <div class="panel--primary">
                <div class="panel--primary--container">
                    <div class="panel--title">
                        <h3 class="panel--subtitle baskerville">what.</h3>
                        <h1 class="baskerville">
                            The Works
                        </h1>
                    </div>
                </div>

                <div class="panel--slider">
                    Slider to go here
                </div>
            </div>

        </div>
    </div>

    <div class="panel section" id="skills">
        <div class="panel--container">
            <div class="panel--primary">
                <div class="panel--primary--container">
                    <div class="panel--title --reverse">
                        <h3 class="panel--subtitle baskerville">how.</h3>
                        <h1 class="baskerville">
                            What Makes
                            <span class="subtext">
                                Me Tick?
                            </span>
                        </h1>
                    </div>
                    <p class="baskerville panel--desc">
                        Short general description of other stuff not sure yet what is going here but I will figure it out.
                    </p>
                </div>
            </div>

            <div class="panel--secondary">
                <div class="panel--title --reverse">
                    <h1 class="baskerville">
                        Skill set
                    </h1>
                </div>
            </div>

        </div>

        <footer class="">
            <div class="foot--wrap baskerville">
                (c) contents here. License for here.
            </div>
        </footer>
    </div>
</div>